#canvas-wrap { position:relative; } /* Make this a positioned parent */

#overlay     { position:absolute; top:200px; left:400px; background-color: #C1E6C6;}

.main-container {
  padding: 40px 15px;
  text-align: center;
}



