<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mail Send Program</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">

    <h3>邮件发送</h3>

    <br/><br/>

    <label>输入发件人：</label>
    <input type="text" placeholder="mike@tjchtech.com" id="sender"/>
    <br/><br/>

    <label>输入收件人：</label>
    <br/>
    <textarea id="receipts" style="width: 1050px; height: 230px;" placeholder="xx@qq.com"></textarea>
    <br/><br/>

    <label>输入产品ASIN：</label>
    <input type="text" placeholder="B01K1VP372" id="asin" style="margin-right:50px;"/>
    <label>输入产品名称：</label>
    <input type="text" placeholder="Pet Tent" id="product" style="margin-right:50px;"/>
    <label>选择站点：</label>
    <select id="site" style="width:80px;">
        <option value="--">--</option>
        <option value="UK">UK</option>
        <option value="DE">DE</option>
        <option value="ES">ES</option>
        <option value="FR">FR</option>
        <option value="IT">IT</option>
        <option value="US">US</option>
    </select>
    <br/><br/>

    <label>输入邮件主题：</label>
    <input type="text" placeholder="Amazon Product Review Invitation -- Pet Tent" style="width: 950px;" id="subject"/>
    <br/><br/>

    <label>输入邮件内容：</label>
    <br/>
    <textarea id="content" style="width: 1050px; height: 230px;" placeholder="mail content..."></textarea>
    <br/><br/>

    <button class="btn btn-success" type="button" id="sendBtn">Just Do It!</button>
    <br/><br/><br/><br/>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap-waitingfor.min.js') }}"></script>
<script>

$(document).ready(function() {

	$("#sendBtn").click(function() {
        waitingDialog.show('Just waiting...');

		$.post("send", {
				sender: $("#sender").val(),
				receipts: JSON.stringify($("#receipts").val().split('\n')),
				subject: $("#subject").val(),
				content: $("#content").val()
			},
			function(num) {
			    waitingDialog.hide();
			    alert('已成功发送'+num+'封邮件！')
			});
	});

    $("#site").change(function() {

        asin = $('#asin').val();
        product = $('#product').val();

        if (asin == null || asin == "") {
            alert('产品ASIN不能为空');
            return;
        }

        if (product == null || product == "") {
            alert('产品名称不能为空');
            return;
        }

        subject = '';
        content = '';

        site = $("#site").val();
        if (site != '--') {
            if (site == 'UK') {
                subject = "Amazon Product Review Invitation -- " + product;
                content = "Dear Sir/Madam,\n\nThank you for your time.\n\nWe are an Amazon Seller in United Kingdom.\n\nI have gone through your information on Amazon Top Reviewers list, and consider you are a reliable, objective, and experienced shopper and reviewer.\n\nTherefore, I sincerely invite to you try -- " + product + " -- in our store and share your reviews on Amazon.\n\nWe will give you discount 99% off of the price.\n\nThe following is our item link https://www.amazon.co.uk/dp/"+ asin + "\n\nDear if you are interested in it please let me know.\n\nAlso I wonder some question if you like it.\n\nCan you take the pictures or the video on the review?\n\nAnd how long you will give the review after receive the package?\n\nAny question just let me know.\n\nAlice";
            }
            else if (site == 'US') {
                subject = "Amazon Product Review Invitation -- " + product;
                content = "Dear Sir/Madam,\n\nThank you for your time.\n\nWe are an Amazon Seller in United States.\n\nI have gone through your information on Amazon Top Reviewers list, and consider you are a reliable, objective, and experienced shopper and reviewer.\n\nTherefore, I sincerely invite to you try -- " + product + " -- in our store and share your reviews on Amazon.\n\nWe will give you discount 99% off of the price.\n\nThe following is our item link https://www.amazon.com/dp/"+ asin + "\n\nDear if you are interested in it please let me know.\n\nAlso I wonder some question if you like it.\n\nCan you take the pictures or the video on the review?\n\nAnd how long you will give the review after receive the package?\n\nAny question just let me know.\n\nAlice";
            }
            else if (site == 'DE') {
                subject = "Amazon Produkt Bewertung Einladung -- " + product;
                content = "Sehr geehrte Damen und Herren,\n\nDanke für deine Zeit.\n\nWir sind ein Amazon-Verkäufer in Deutschland.\n\nIch habe Ihre Informationen über Amazon Top Reviewer Liste gegangen, und betrachten Sie sind eine zuverlässige, objektive und erfahrene Käufer und Rezensent.\n\nDeshalb lade ich Sie herzlichst ein - "+product+" - in unserem Shop und teilen Sie Ihre Bewertungen auf Amazon.\n\nWir geben Ihnen Diskont 99% weg vom Preis ,.\n\nDas Folgende ist unser Artikel Link https://www.amazon.de/dp/"+asin+"\n\nLieber, wenn Sie daran interessiert sind, lassen Sie es mich wissen.\n\nAuch ich frage mich, einige Frage, wenn Sie es mögen.\n\nKannst du die Bilder oder das Video auf die Rezension?\n\nUnd wie lange geben Sie die Überprüfung nach erhalten das Paket?\n\nJede Frage lass es mich wissen.\n\nAlice";
            }
            else if (site == 'ES') {
                subject = "Invitación de la revisión del producto de Amazon -- " + product;
                content = "Estimado Señor / Señora:\n\nGracias por tu tiempo.\n\nSomos un vendedor de Amazon en España.\n\nHe examinado su información en la lista de revisores de Amazon Top y considero que usted es un comprador y un revisor confiable, objetivo y experimentado.\n\nPor lo tanto, le invito sinceramente a intentar - "+ product +" - en nuestra tienda y compartir sus comentarios en Amazon.\n\nLe daremos el descuento el 99% apagado del precio.\n\nEl siguiente es nuestro enlace de artículo https://www.amazon.es/dp/"+ asin +"\n\nEstimado si usted está interesado en él por favor háganmelo saber.\n\nTambién me pregunto alguna pregunta si te gusta.\n\n¿Puedes tomar las fotos o el video en la reseña?\n\n¿Y cuánto tiempo le dará la revisión después de recibir el paquete?\n\nCualquier pregunta solo déjame saber.\n\nAlicia";
            }
            else if (site == 'FR') {
                subject = "Invitation à l'examen des produits Amazon -- " + product;
                content = "Cher Monsieur / Madame,\n\nMerci pour votre temps.\n\nNous sommes un vendeur d'Amazon en France.\n\nJ'ai parcouru vos informations sur Amazon Top liste des examinateurs, et considérez que vous êtes un client fiable, objectif et expérimenté et critique.\n\nPar conséquent, je vous invite sincèrement à essayer - "+ product+" - dans notre magasin et partager vos commentaires sur Amazon.\n\nNous vous donnerons 99% de réduction sur le prix.\n\nCe qui suit est notre lien d'article https://www.amazon.fr/dp/"+ asin+ "\n\nCher, si vous êtes intéressé, s'il vous plaît laissez-moi savoir.\n\nAussi je me demande une question si vous l'aimez.\n\nPouvez-vous prendre les photos ou la vidéo sur l'examen?\n\nEt combien de temps vous donnera l'examen après avoir reçu le paquet?\n\nN'importe quelle question juste me faire savoir.\n\nAlice";
            }
            else if (site == 'IT') {
                subject = "Amazon Product Review Invito -- " + product;
                content = "Caro Signore / Signora,\n\nGrazie per il tuo tempo.\n\nSiamo un venditore Amazon in Italia.\n\nHo passato con le informazioni sulla lista Amazon Top revisori, e prendere in considerazione sei un affidabile, obiettiva, e shopper e revisore esperto.\n\nPertanto, io sinceramente invito a provare - "+product+" - nel nostro negozio e condividere le tue recensioni su Amazon.\n\nVi daremo lo sconto del 99% di sconto del prezzo.\n\nDi seguito è il nostro link voce https://www.amazon.it/dp/" + asin + "\n\nCaro se siete interessati in esso per favore fatemelo sapere.\n\nInoltre mi chiedo qualche domanda se ti piace.\n\nSi può prendere le immagini o il video sulla revisione?\n\nE per quanto tempo si darà la revisione dopo riceve il pacchetto?\n\nTutta la domanda fammelo sapere.\n\nAlice";
            }
        }

        $('#subject').val(subject);
        $('#content').val(content);

    });

})


</script>

</body>
</html>
